@import '../App.css';


.div1 {
    display:inline-flex;
    margin-top:40px;
}



.card {
    width:18rem;
    margin-right: 70px;
    margin-left: 70px;
}
.t1 {
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
} 

.t2{
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin-top: 10px;
}








